@use './variables' as *;

// -----------------------------------------------------------
// FONT WEIGHTS
// -----------------------------------------------------------
$fw-regular:  400;
$fw-medium:   500;
$fw-semibold: 600;

// -----------------------------------------------------------
// DIMENSIONS
// -----------------------------------------------------------
$fs-h1: 2.75rem;
$fs-h2: 2rem;
$fs-h3: 1.5rem;
$fs-body: 1rem;
$fs-small: 0.875rem;
$fs-overline: 0.75rem;

// -----------------------------------------------------------
// LETTER-SPACING 
// -----------------------------------------------------------
$ls-tight: -0.01em; // titoli grandi
$ls-wide: 0.08em;   // overline / label maiuscole

// -----------------------------------------------------------
// LINE-HEIGHT
// -----------------------------------------------------------
$lh-heading: 1.2;
$lh-body: 1.6;

// -----------------------------------------------------------
// BASE ELEMENTS
// -----------------------------------------------------------
body {
  font-family: $font-family-base;
  font-size: $fs-body;
  line-height: $lh-body;
  font-weight: $fw-regular;
  color: $color-text-primary;
}

h1 {
  font-size: $fs-h1;
  line-height: $lh-heading;
  letter-spacing: $ls-tight;
  font-weight: $fw-medium;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: $fs-h2;
  line-height: $lh-heading;
  letter-spacing: $ls-tight;
  font-weight: $fw-medium;
}

h3 {
  font-size: $fs-h3;
  line-height: $lh-heading;
  font-weight: $fw-semibold;
}

// -----------------------------------------------------------
// UTILITY
// -----------------------------------------------------------
.text-small {
  font-size: $fs-small;
}

.text-overline {
  font-size: $fs-overline;
  letter-spacing: $ls-wide;
  font-weight: $fw-semibold;
  text-transform: uppercase;
}