/* -_-_- IMPORT MODULI DI BASE -_-_- */
@use 'normalize.css';
@use './base/_reset';
@use './base/_variables' as *;
@use './base/_mixins' as *;
@use './components/form' as *;
@use './components/chat' as *;
@use './components/buttons' as *;
@use './base/states' as *;
/* -_-_- STILE DI BASE DELL'APP -_-_-  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
} 

ul {
  list-style: none;
  padding: 0;
}

.App { // base mobile-first (sotto 480px)
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: $space-sm;
  width: 100vw;
  overflow-x: hidden;
  @include respond (xs) {}// larghezza minima (≥350px)
  @include respond (sm) {}// larghezza minima (≥480)
  @include respond(md) {}// larghezza minima (≥780px)
  @include respond (lg) {}// larghezza minima (≥1024px)
  @include respond (xl){} // larghezza minima (≥1440px)
  }
  

html {
  font-size: 16px; // 1rem = 16px
  scroll-behavior: smooth; // transizioni "smooth" durante lo scroll 
}

body {
  font-family: 'Poppins', sans-;
  background-color: $glass-background; // definito in _variables.scss
  color: $color-text;
  min-height: 100vh; // corpo sempre alto quanto l'intera finestra
  display: flex; // Lo imposto qua così a cascata tutti i "figli" otterranno la struttura flessibile
  flex-direction: column; // best practice per layout verticali 
}