@use '../base/variables' as *;
@use '../base/mixins' as *;
@use '../base/typography' as *;

.button {
  padding: $space-sm;
  border: none;
  border-radius: $radius-lg;
  background-color: $color-white;
  margin-top: $space-md;
  box-shadow: $shadow-lg;
    &.active {
        opacity: 0.70;
        transform: translateY(2px);
    }

    @include respond (sm) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.tag-genere {
    margin: $space-md;
    border: none;
    border-radius: $radius-lg;
    padding: $space-sm;
    background-color: $color-white;
    &.active {
        opacity: 0.50;
        transform: translateY(2px);
    }
}

.tag-categoria {
    margin: 5px;
    border: none;
    border-radius: $radius-lg;
    padding: $space-sm;
    background-color: $color-white;
  &.active {
    opacity: 0.50;
    transform: translateY(2px);
}
}

.container-button-valuta{
    display:flex;
    flex-direction: row;
    justify-content: end;
}
.button-valuta {
    padding: $space-md 1.5rem;
    border: none;
    border-radius: $radius-lg;
    background-color: $color-primary;
    margin-top: $space-md;
    max-width: 13rem;
    display: flex;
    flex-direction: row-reverse;
    font-size: $fs-body;
    font-weight: $fw-semibold;
    color: $color-white;
    box-shadow: $shadow-md;
}

.button-red{
    background-color: $color-error;
    border: none;
    border-radius: $radius-lg;
    margin: $space-md;
    padding: $space-sm $space-md;
    color:$color-white;
    font-weight: $fw-semibold;
}
.button-send{
  background-color:$color-primary;
  border: none;
  font-size: 2rem;
  padding: $space-sm;
  border-radius: 50%;
  height: 3.5rem;
  width: 4rem;
  margin: $space-sm;
  color: $color-white;
  box-shadow: $shadow-lg;
}