@use '../base/variables' as *;
.button {
    padding: 0.25rem;
    border: $border;
    border-radius: $radius;
    background-color: aliceblue;
    margin-top: $space-md;
    &.active {
        opacity: 0.70;
        transform: translateY(2px);
    }
}

.tag-genere {
    margin: 5px;
    border: $border;
    border-radius: $radius;
    padding: 3px;
    &.active {
        opacity: 0.70;
        transform: translateY(2px);
    }
}

.tag-categoria {
    margin: 5px;
  border: $border;
  border-radius: $radius;
  padding: 3px;
  background-color: antiquewhite;
  &.active {
    opacity: 0.70;
    transform: translateY(2px);
}
}

.container-button-valuta{
    display:flex;
    flex-direction: row;
    justify-content: end;
}
.button-valuta {
  padding: $space-md;
  border: $border;
  border-radius: $radius;
  background-color:$color-accent;
  margin-top: $space-md;
  max-width: 13rem;
  display: flex;
  flex-direction: row-reverse;
  font-size: large;
  font-weight: bold;
  color: white;
  
}

.button-red{
    margin: $space-md;
    padding: $space-sm;
    background-color: $color-close;
    border-radius: $radius;
    border-color: white;
}
.button-send{
    background-color: #0093ff;
  border: $border;
  font-size: 2rem;
  padding: $space-sm;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  margin: 0.5rem;
  color: white;
}