@use '../base/variables' as *;

.pricing-result-content {
    background-color: #f9cdff;
  margin-bottom: $space-md;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: $space-md;
  padding: 0.5rem;
  border-radius: $radius;
}

li.active::before {
    animation: glow 1s ease forwards;
    animation-delay: 0.5s;
  }
  
  @keyframes glow {
    0% {
      opacity: 0;
      transform: translateY(-50%) scale(0.8);
    }
    50% {
      opacity: 1;
      transform: translateY(-50%) scale(1.2);
    }
    100% {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
  }

  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.display-chat{
  padding: $space-sm;
  max-height: 25rem;
  overflow-x: scroll;
  border-radius: $radius;
  background-image: linear-gradient(45deg, rgb(0, 81, 255), rgba(252, 5, 203, 0.703));
  display: flex;
  flex-direction: column;
  gap: $space-md;
}
.container-textarea{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-textarea {
  display: flex;
  justify-content: center;
  border: $border;
  border-radius: $radius;
  padding: $space-sm;
  width: 90%;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.modal{
  background-color: #c59bf7bd;
  padding: $space-md;
  border-radius: $radius;
  border: $border;
  backdrop-filter: $blur-backdrop;
}
/* background-color: rgba(236, 127, 255, 0.71); */
.message--assistant, .message--user {
  color: white;
  background-color: rgba(236, 127, 255, 0.71);
  padding: $space-md 5rem $space-md $space-md;
  max-width: 80%;
  align-self:start;
  border-radius: $radius;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37), inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
}

.message--user{
  background-color: rgba(127, 163, 255, 0.701);
  align-self: end;
}