@use '../base/variables' as *;

.assistente-AI-container {
  width: auto;
  margin: $space-md auto;
  border: $border;
  border-radius: $radius;
  padding: $space-md;
  background-color: #d5ebfe;

}

.chat-title {
  text-align: center;
  color: $color-accent; 

}
.image-container{
  display: flex;
  flex-direction: column;
}

.img-AI-assistent{
  height: 15rem;
  width: 13rem;
  align-self: center;
}

.categoria-genere-container {
  border-radius: $radius;
  padding: $space-md;
  background: $linear-gradient;
    &active{
      border-radius: 6px 6px 0 0;
    }
  }

.container-tags-genere{
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  padding: $space-md;
  justify-content: space-evenly;
  border-radius: $radius;
}

.upload-foto-container {
  margin: 0.5rem;
  background-color: #5f9ea0;
  padding: 0.5rem;
  border-radius: 8px;
  border: 2px solid #ff72ff;
  color: #2c2424;
  width: calc(100% - 1rem);
  box-sizing: border-box;
  overflow: hidden;
}

.container-brand {
  margin-top: $space-lg;
  margin-bottom: $space-lg;
}

.container-stato {
  margin-bottom: $space-md;
  background: linear-gradient(to bottom, rgba(11, 3, 251, 0), $color-accent);
  padding: $space-sm 0 $space-md 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $radius;
  margin-top: $space-sm;
}

.container-tag-stato {
  display: flex;
  justify-content: space-evenly;
  gap: $space-md;
}

.container-tags-categoria {
  padding: $space-md;
  background: $transparent-container;
  border-radius: 0 0 $radius $radius;
}

.input-textarea{
  display: flex;
  justify-content: center;
  border:$border;
  border-radius: $radius;
  padding: $space-sm;
  margin-top:$space-sm;
  width: 100%;
}

